.showcaseview-view {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.35);
	display: none;
	background-image: url("showcaseview.png");
	background-repeat: no-repeat;
	background-size: 100px 100px;
	z-index: 999999;
}

.showcaseview-text {
	font-size: 2em;
	color: #fff;
	position: fixed;
	left: 50px;
	bottom: 50px;
}

.showcaseview-button {
	position: fixed;
	right: 50px;
	bottom: 50px;
}
